.members-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em 10px 1em 10px;
  column-gap: 10px;
  row-gap: 1em;

  mat-card {
    max-width: 400px;
    background: white;

    img {
      display: block;
      max-width: 100%;
      height: 200px;
      object-fit: cover;
      width: 100%;
    }
  }
}
